.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/').brand Wikipedia最短
.page-header(style="padding-top:40px")
  .container
    h3 Wikipedia最短
    p ダイクストラ法(ゴリ押し)により、Wikipediaの記事リンクの正確な最短距離を探索します。Categoryページ等は除外しています。
    p
      a(href='https://twitter.com/YArMui') 作った人@YArMui (アプリケーションエンジニアで求職中)
      、
      a(href='https://github.com/YarmUI/wikipetan') ソース
      、
      a(href='http://blog.kfka.net/entry/2013/05/04/225046') 詳細

