extends layout

block content
  p= title
  p
    a.btn.btn-primary(href=tweeturl, target='_blank') 結果をTwitterでつぶやく

  table.table.table-striped
    for str, index in res
      tr
        td(style='width:40px')= (index+1)
        td
          a(href='http://ja.wikipedia.org/wiki/' + encodeURIComponent(str))= str
        td(style='width:80px')
          a.btn.btn-mini.btn-success(href='/?from=' + encodeURIComponent(str)) この記事から
        td(style='width:80px')
          a.btn.btn-mini.btn-inverse(href='/?to=' + encodeURIComponent(str)) この記事まで
  p
    a.btn.btn-inverse(href=reverse_url )= reverse
  p
    a.btn.btn-info(href='/').btn.btn-info トップページに戻る
